/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial;
  overflow-x: hidden;
}
/*=======================Nav Bar Setup======================*/
nav{
    z-index:99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: rgba(255,255,255,0.3);
    color:#000;
}
nav .icon{
    float: left;
}
nav .icon img{
    height: 80px;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}
nav ul{
    z-index:1;
    float: right;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
nav ul li{
    z-index:99999;
    list-style-type: none;
}
nav ul li a{
    z-index:1;
    font-size: 16px;
    text-decoration: none;
    line-height: 80px;
    color: #000;
    padding: 5px 20px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

nav.a{
    z-index: 99999;
    background: rgba(0,0,0,0.6);
    padding: 10px 50px;
    max-height: 80px;
}
nav.a img{
    height: 60px;
}

nav.a ul li a{
    color: #fff;
}
.responsive-bar{
    display: none;
}
@media screen and (max-width: 1060px){
    .responsive-bar{
        display: block;
        width: 100%;
        max-height: 60px;
        background: white;
        position: fixed;
        left: 0;
        top: 0;
        padding: 5px 20px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        z-index: 99999;
    }
    .responsive-bar .icon img{
        float: left;
        height: 50px;
    }
    .responsive-bar .menu h4{
        margin: 0;
        padding: 0;
        line-height: 50px;
        position: relative;
        float: right;
        color: #000;
        cursor: pointer;
    }
    nav{
        z-index: 99999;
        background: black;
        height: 0px;
        padding: 0;
    }
    nav .icon{
        display: none;
    }
    nav ul{
        z-index: 99999;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background: black;
        float: none;
        display: none;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        background: #fff;
    }
    nav ul.active{
        display: block;
    }
    nav ul li{
        z-index: 99999;
        width: 100%;
    }
    nav ul li a{
        z-index: 99999;
        display: block;
        position: relative;
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 30px !important;
        color: #fff;
        background: rgba(0,0,0,0.4);
    }
}nav ul li a.active,
nav ul li a:hover{
    color: #fff;
    background: red;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}
/*======================= End of Nav Bar Setup======================*/
/*==================================Photo Gallery style==================================*/
.header {
  position: relative;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 10px;
  font-weight: normal;
}
.header h1{
  padding: 0 10px;
  font-size: 60px;
  position: relative;
  display: inline-block;
  background: -o-linear-gradient(45deg ,red,purple);
  background: linear-gradient(45deg ,red,purple);
  -webkit-background-clip : text;
  -webkit-text-fill-color : transparent;
}
.header h1::after{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 8px;
  background: -o-linear-gradient(45deg ,red 30%,purple);
  background: linear-gradient(45deg ,red 30%,purple);
}
@media screen and (max-width: 600px){
  .header h1{
    font-size: 30px;
  }
  .header h1::after{
    height: 5px;
  }
}
.row {
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  -webkit-box-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) {
  .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    -webkit-box-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}
/*Style For footer for Transition*/
.footerIcon:hover{
  cursor: pointer;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

/*==========================================================================*/
.img-show{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99999999999999;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.93);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
.img-show img{
  max-width: 60%;
  max-height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}
.img-show.active{
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.left{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 5%;
  cursor: pointer;
}
.left i,
.right i{
  font-size: 20px;
}
.right{
  color: #fff;
  position: absolute;
  top: 50%;
  right: 5%;
  cursor: pointer;
}
.fa-times-circle{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fa-times-circle:hover{
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

/*Loading Effect*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
.load {
  background-color: #242F3F;
  overflow: hidden;
  z-index: 999999999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 2s infinite ease-in;
          animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}