*{
	margin: 0;
	padding: 0;
}
body{
	max-width: 100%;
	overflow-x: hidden;
}
.logo{
	height: 100vh;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	overflow-x: hidden;
}
.logo img{
	height: 250px;
	-o-object-fit: contain;
	   object-fit: contain;
	margin-bottom: 50px;
}
/*.logo svg{
	fill: white;
}
.logo svg path{
	mix-blend-mode: difference;
	stroke-dasharray: 600;
	stroke-dashoffset: 600;
}
@keyframes anit{
	to{
		mix-blend-mode: difference;
	}
}
.logo svg path:nth-child(1){
	animation: 2s animate ease forwards,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(2){
	animation: 2s animate ease forwards 0.15s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(3){
	animation: 2s animate ease forwards 0.3s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(4){
	animation: 2s animate ease forwards 0.45s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(5){
	animation: 2s animate ease forwards 0.6s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(6){
	animation: 2s animate ease forwards 0.75s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(7){
	animation: 2s animate ease forwards 0.6s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(8){
	animation: 2s animate ease forwards 1.2s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(9){
	animation: 2s animate ease forwards 1.35s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(10){
	animation: 2s animate ease forwards 1.5s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(11){
	animation: 2s animate ease forwards 1.65s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(12){
	animation: 2s animate ease forwards 1.8s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(13){
	animation: 2s animate ease forwards 1.65s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(14){
	animation: 2s animate ease forwards 2.1s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(15){
	animation: 2s animate ease forwards 2.25s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(16){
	animation: 2s animate ease forwards 2.4s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(17){
	animation: 2s animate ease forwards 2.55s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(18){
	animation: 2s animate ease forwards 2.7s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(19){
	animation: 2s animate ease forwards 2.85s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(20){
	animation: 2s animate ease forwards 3s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(21){
	animation: 2s animate ease forwards 3.15s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(22){
	animation: 2s animate ease forwards 3.3s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(23){
	animation: 2s animate ease forwards 3.45s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(24){
	animation: 2s animate ease forwards 3.6s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(25){
	animation: 2s animate ease forwards 3.75s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(26){
	animation: 2s animate ease forwards 3.6s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(27){
	animation: 2s animate ease forwards 4.05s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(28){
	animation: 2s animate ease forwards 4.2s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(29){
	animation: 2s animate ease forwards 4.35s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(30){
	animation: 2s animate ease forwards 4.5s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(31){
	animation: 2s animate ease forwards 4.65s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(32){
	animation: 2s animate ease forwards 4.8s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(33){
	animation: 2s animate ease forwards 4.65s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(34){
	animation: 2s animate ease forwards 5.1s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(35){
	animation: 2s animate ease forwards 5.25s,fill 0.5s ease forwards 5.7s;
}
.logo svg path:nth-child(36){
	animation: 2s animate ease forwards 5.4s,fill 0.5s ease forwards 5.7s;
}
@keyframes fill{
	to{
		fill: black;
	}
}
@keyframes animate{
	to{
		stroke-dashoffset: 0;
	}
}
*/
#ban{
	font-size: 40px;
	font-weight: bolder;
}
@media screen and (max-width : 1028px){
	.logo h1{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	#ban{
		font-size: 24px;
		line-height: 30px;
	}
}

@media screen and (max-width : 650px){
	.logo h1{
		width: 250px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	#ban{
		font-size: 24px;
		line-height: 30px;
	}
}
@media screen and (max-width : 500px){
	.logo h1{
		height: 250px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	#ban{
		font-size: 24px;
		line-height: 30px;
	}
}

/*=======================Nav Bar Setup======================*/

/*======================= End of Nav Bar Setup======================*/
/*Control SVG Size*/
@media screen and (max-width: 1091px){
	.logo img{
		width: 600px;
	}
	svg{
		width: 650px;
	}
}
@media screen and (max-width: 608px){
	.logo img{
		width: 400px;
	}
}
@media screen and (max-width: 700px){
	svg{
		width: 500px;
	}
}
@media screen and (max-width: 520px){
	svg{
		width: 400px;
	}
}
@media screen and (max-width: 420px){
	.logo img{
		width: 380px;
	}
	svg{
		width: 350px;
	}
}
@media screen and (max-width: 350px){
	.logo img{
		width: 300px;
	}
	svg{
		width: 300px;
	}
}
@media screen and (max-width: 310px){
	.logo img{
		width: 270px;
	}
	svg{
		width: 270px;
	}
}
@media screen and (max-width: 305px){
	.logo img{
		height: 100px;
		width: 100px;
	}
	svg{
		width: 250px;
	}
}

.about-us{
	width: 100%;
	min-height: 60vh;
	overflow-x: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.about-us .con{
	width: 90%;
	height: 450px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	position: relative;
}
.about-us .con .tag{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-width: 300px;
	height: 100%;
}
.about-us .con .tag p{
	font-size: 2.5em;
	letter-spacing: 0.2em;
}
.about-us .con .docu{
	outline: hidden;
	padding: 0 30px;
	width: 600px;
}
.about-us .con .docu p{
	line-height: 25px;
	font-size: 18px;
}
/* ============================== Description =======================*/
.show-mem{
	display: none;
}
.hide-mem{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media screen and (max-width: 1010px){
	.show-mem{
		display: block;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.hide-mem{
		display: none;
	}
}
/*========================== Media Selector ========================*/
@media screen and (min-width: 850px){
	.col-md-9.col-sm-12{
		font-size: 18px;
		line-height: 30px;
	}
}
@media screen and (max-width: 600px){
	.col-md-9.col-sm-12{
		font-size: 16px;
		line-height: 30px;
		font-weight: bold;
	}
}

/*========================== Personal Details ======================*/
#perdet{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
#personal-details{
	position: relative;
	overflow: hidden;
	padding: 40px 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 0 auto;
	position: relative !important;

}
#personal-details img{
	position: relative;
	width: 150px;
	height: 150px;
	-o-object-fit: cover;
	   object-fit: cover;
	border-radius: 50%;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	margin-bottom: 40px;
}
#personal-details img:hover{
	-webkit-transform: scale(1.15);
	    -ms-transform: scale(1.15);
	        transform: scale(1.15);
}
#personal-details h2{
	font-size: 23px;
}
#personal-details h2,div{
	position: relative;
}
#personal-details::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform-origin: top;
	    -ms-transform-origin: top;
	        transform-origin: top;
	-webkit-transform: scaleY(0);
	    -ms-transform: scaleY(0);
	        transform: scaleY(0);
    background: -o-linear-gradient(45deg, #ff00cd, #051dfc);
    background: linear-gradient(45deg, #ff00cd, #051dfc);
}
/*#personal-details:nth-child(1):before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	transform-origin: bottom;
	transform: scaleY(0);
	background: linear-gradient(45deg, red, #3b776500);
}
#personal-details:nth-child(2):before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	transform-origin: top;
	transform: scaleY(0);
	background: linear-gradient(45deg, #ff00cd, #051dfc);
}
#personal-details:nth-child(3):before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	transform-origin: bottom;
	transform: scaleY(0);
    background: linear-gradient(45deg, #96dd8c, #fc0554);
}
#personal-details:nth-child(4):before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	transform-origin: top;
	transform: scaleY(0);
    background: linear-gradient(45deg, #00ff1f, #1000ff);
}*/
#personal-details:hover:before{
	-webkit-transform: scaleY(1);
	    -ms-transform: scaleY(1);
	        transform: scaleY(1);
}
#personal-details:hover h2,#personal-details:hover div p{
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	color: white;
}
/*======================= Particle Setup========================*/

canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  opacity: 0.6;
  z-index: -99999;
}
/*Style For footer for Transition*/
.footerIcon:hover{
	cursor: pointer;
	-webkit-transform: scale(1.3);
	    -ms-transform: scale(1.3);
	        transform: scale(1.3);
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}


/*=============================Button Know More ========================*/
a#abknowmorw{
	display: block;
	position: relative;
	width: 140px;
	height: 50px;
	background: transparent;
	line-height: 50px;
	font-size: 14px;
	text-align: center;
	margin-top: 40px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
a#abknowmorw svg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: transparent;
}
a#abknowmorw svg rect{
	position: relative;
	stroke: #ff00a2;
	stroke-width: 4px;
	width: 100%;
	height: 100%;
	stroke-dasharray: 600,600;
	stroke-dashoffset: 0;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
a#abknowmorw:hover svg rect{
	stroke-dasharray: 160,400;
	stroke-dashoffset: 380;
	stroke: #fc0554
}
a#abknowmorw:hover{
	color: black;
	text-decoration: none;
}
a#memknow{
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	font-size: 14px;
	color: #000;;
	font-weight: bolder;
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
	margin-top: 30px;
}
a#memknow:hover{
	color:white;
	text-decoration: none;
}
a#memknow:before{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00c0ff;
	z-index: -1;
	-webkit-transform-origin: bottom right;
	    -ms-transform-origin: bottom right;
	        transform-origin: bottom right;
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	-o-transition: transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s;
}
a#memknow:after{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	border: 2px solid black;
	-webkit-transform-origin: top left;
	    -ms-transform-origin: top left;
	        transform-origin: top left;
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	-o-transition: transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s;
}
a#memknow:hover:after{
	-webkit-transform-origin: bottom right;
	    -ms-transform-origin: bottom right;
	        transform-origin: bottom right;
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
}
a#memknow:hover:before{
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
	-webkit-transform-origin: top left;
	    -ms-transform-origin: top left;
	        transform-origin: top left;
}

@media screen and (max-width: 500px){
	a#abknowmorw,a#memknow{
		zoom: 0.6;
		font-size: 14px;
		letter-spacing: 3px;
	}
}

/*========================For 2 description ================================*/
#description{
	font-size: 16px;
	line-height: 30px;
}
/*Loading Animation*/
.load{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #b3e5fc;
  z-index: 999999999;
}

.loader {
  width: 10em;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.square {
    width: 25%;
    height: 25%;
    background: #ff5252;
    -webkit-animation: zoom 1.4s ease-in-out infinite;
            animation: zoom 1.4s ease-in-out infinite;
}
.square:nth-child(13) {
      -webkit-animation-delay: 0s;
              animation-delay: 0s;
    }

.square:nth-child(9),
.square:nth-child(14) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.square:nth-child(5),
.square:nth-child(10),
.square:nth-child(15) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.square:nth-child(1),
.square:nth-child(6),
.square:nth-child(11),
.square:nth-child(16) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.square:nth-child(2),
.square:nth-child(7),
.square:nth-child(12) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.square:nth-child(3),
.square:nth-child(8) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.square:nth-child(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@-webkit-keyframes zoom {
  35% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  0%,
  70%,
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes zoom {
  35% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  0%,
  70%,
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}