*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.fixedbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: var(--background);
    z-index: 9999999;
    transition: 0.75s;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fixedbar.togglebar{
    transform: translate(-300px);
}
.fixedbar div img{
    position: relative;
    height: 50px;
    margin: 10% 0;
    object-fit: contain;
    transition: 0.5s;
}
.fixedbar div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.fixedbar div:nth-child(2) a{
    position: relative;
    padding: 7px 20px;
    background: #0A1E59;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
}
.fixedbar div:nth-child(2) i{
    font-size: 26px;
    margin-right: 20px;
    color: var(--color);
    transition: 0.5s;
    cursor: pointer;
}
.fixedbar div:nth-child(2) div{
    position: relative;
    width: 35px;
    height: 24px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    cursor: pointer;
}
.fixedbar div:nth-child(2) div span{
    display: block;
    width: 100%;
    position: relative;
    height: 2px !important;
    background: var(--color);
    margin: 3px 0;
    transition: 0.8s;
}
.fixedbar div:nth-child(2) div span:nth-child(2){
    width: calc(100% * 0.7);
}
.fixedbar div:nth-child(2) div span:nth-child(3){
    width: calc(100% * 0.4);
}
.fixedbar div:nth-child(2) div:hover span{
    width: 100%;
}
.fixedbar.togglebar div:nth-child(2) div span{
    width: 100%;
}
.fixedbar.togglebar div:nth-child(2) div span:nth-child(2){
    transform: translateX(-20px);
    opacity: 0;
}
.fixedbar.togglebar div:nth-child(2) div span:nth-child(1){
    transform: translateY(7.5px) rotateZ(45deg);
}
.fixedbar.togglebar div:nth-child(2) div span:nth-child(3){
    transform: translateY(-7.5px) rotateZ(-45deg);
}
.fixedbar.active{
    height: 55px;
    box-shadow: 0 5px 20px #0008;
}
.fixedbar.active.night{
    box-shadow: 0 5px 20px #fff4;
}
.fixedbar.active div img{
    height: 40px;
}
/*Responsive*/
@media screen and (max-width: 600px){
    .fixedbar{
        padding: 0 20px;
    }
}
@media screen and (max-width: 430px){
    .fixedbar div:nth-child(2) a{
        display: none;
    }
    .fixedbar div:nth-child(2) div{
        margin-left: 0;
    }
    .fixedbar.togglebar{
        transform: translate(-200px);
    }
}
/*==================================All about fixedbar==================================*/
nav{
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    width: 300px;
    background: #14328a;
    z-index: 99999;
    transform: translateX(300px);
    display: flex;
    align-items: center;
    transition: 0.75s;
    overflow: hidden;
}
nav.togglebar{
    transform: translateX(0);
}
nav ul{
    position: relative;
    width: 100%;
    padding: 0 30px;
    list-style-type: none;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    color: white;
    margin: 12px 0 !important;
    display: inline-block;
}
nav ul li a::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    width: 110%;
    height: 1.5px;
    background: #fff;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.5s;
}
nav ul li.active a::before{
    transform: scaleX(1);
}
nav ul li a:hover::before{
    transform: scaleX(1);
}
#main{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateX(0px);
    transition: 0.75s;
    z-index: 10 !important;
}
#main.togglebar{
    transform: translateX(-300px);
}
@media screen and (max-width: 430px){
    nav{
        width: 200px;
        transform: translateX(200px);
    }
    nav.togglebar{
        transform: translateX(0);
    }
    #main.togglebar{
        transform: translateX(-200px);
    }
}
/*==============================Scroll Top=========================*/
.scrollTop{
    cursor: pointer;
    position: fixed;
    bottom: 800px;
    right: 40px;
    width: 60px;
    height: 60px;
    z-index: 999999;
    background: #000;
    visibility: hidden;
    opacity: 0;
    transition: 0.75s;
    border-radius: 50px;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    border-radius: 50px;
    background: linear-gradient(145deg, #db4b91, #ff59ac);
    box-shadow:  20px 20px 60px #cf4789, 
                 -20px -20px 60px #ff5fb9;
}
.scrollTop.active{
    bottom: 40px;
    visibility: visible;
    opacity: 1;
}
.scrollTop.togglebar{
    transform: translate(-300px);
}
.scrollTop.active.togglebar{
    transform: translate(-300px);
}
@media screen and (max-width: 580px){
    .scrollTop{
        width: 40px;
        height: 40px;
        right: 20px;
        font-size: 20px;
        line-height: 40px;
    }
    .scrollTop.active{
        bottom: 30px;
        visibility: visible;
        opacity: 1;
    }
}
@media screen and (max-width: 430px){
    .scrollTop.togglebar,
    .scrollTop.active.togglebar{
        transform: translate(-200px);
    }
}